@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

:root {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

header * {
    margin: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

header nav ul {
    flex: 1;
    display: flex;
    padding: 0;
}

header nav ul li {
    list-style-type: none;
    margin: 0 2%;
}

header nav ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
}

header nav ul li a:visited {
    color: black;
}

header .cart {
    font-size: 0.9rem;
}

#menu-toggle {
    display: none;
}

.label-toggle {
    display: none;
}

@media screen and (max-width: 400px) {
    
    header nav ul {
        display: none;
    }
    
    .label-toggle {
        display: block;
        cursor: pointer;
        margin-left: 15px;
    }
    
    #menu-toggle:checked + ul {
        display: block;
        visibility: visible;
        position: fixed;
        top: 32px;
        right: 0px;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        background-color: white;
    }
    
    .cart {
        margin-left: auto;
    }
    
}